@model Xeber
@{
    ViewData["Title"] = "Detail";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vipex.az - Ən son kampaniya və xəbərlər</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/xeberler2.css">
</head>

<body>

    
    <section>
        <div class="container">
            <div class="news-section_header">
                <div class="container">
                    <div class="news-section_title">
                        Xəbərlər
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="margin: 5em 0;">
        <div class="container">
            <div class="row">

                <div class="col-md-4 left-column">
                    <aside class="news-sidebar">
                        <div class="news-h3_title"><span class="news-h3_title-text">Xəbərlər</span></div>
                        <div class="news-sidebar_content">
                            <div class="news-sidebar_item">
                                <div class="news-sidebar_item-img" style="background-image:url(https://vipex.az/storage/news/OfohDhhv52Ht83lVuBJBSjrRvOp9yS2ZgoJZWmVT.jpeg);background-position:center;width: 104px;height: 100px;"></div>
                                <div class="news-sidebar_item-desc">

                                    <span class="news-sidebar_item-title"><a href="./xeberler2.html">Vipex.az saytında bağlamanı bəyan etmə qaydası</a></span>
                                </div>
                            </div>
                            <div class="news-sidebar_item">
                                <div class="news-sidebar_item-img" style="background-image:url(https://vipex.az/storage/news/pDNVeH0da8GnC0nEI3RkRU9P4V7bp34B4ls5gUo6.jpeg);background-position:center;width: 104px;height: 100px;"></div>
                                <div class="news-sidebar_item-desc">

                                    <span class="news-sidebar_item-title"><a href="./xeberler3.html">Bağlamanı e customs saytında necə bəyan etmək olar?</a></span>
                                </div>
                            </div>
                            <div class="news-sidebar_item">
                                <div class="news-sidebar_item-img" style="background-image:url(https://vipex.az/storage/news/TF9cPC1Q3E99jxT12pLeA3XS97uq8chWunF4KThi.jpeg);background-position:center;width: 104px;height: 100px;"></div>
                                <div class="news-sidebar_item-desc">

                                    <span class="news-sidebar_item-title"><a href="./xeberler4.html">Kompüter hissələri sifarişi</a></span>
                                </div>
                            </div>
                            <div class="news-sidebar_item">
                                <div class="news-sidebar_item-img" style="background-image:url(https://vipex.az/storage/news/CW8ejJxpLfdK1mUn0jisCK3sNBInx31awVsoaYMQ.jpeg);background-position:center;width: 104px;height: 100px;"></div>
                                <div class="news-sidebar_item-desc">

                                    <span class="news-sidebar_item-title"><a href="xeberler/turkiyeden-kosmetika-1.html">Türkiyədən kosmetika</a></span>
                                </div>
                            </div>




                        </div>
                    </aside>
                </div>
               
                    <div class="col-md-8 order-md-2 left-column" style="background-color: #eef5fb;">
                        <div class="main-news" style="background-image:url(@Model.Xeberdetal.Imaged);background-repeat:no-repeat; ">
                            <div class="main-news_title">

                                <div class="main-news_name">
                                    <a href="./xeberler2.html" >
                                      @Model.Xeberdetal.Maintitle
                                   

        
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="myelement">
                            <div>


                                <div>

                                    <div>

                                        <p>
                                           
                                            <a href="https://www.amazon.com/HP-X24c-Monitor-Resolution-FreeSync/dp/B08CPQ4ZL6/" style="font-size:26px">
                                                @Model.Xeberdetal.Title2

                                            </a>
                                        </p>
                                    </div>
                                    <img src="@Model.Xeberdetal.Image2" class="img1" style="height: 330px;width: 330px;">
                                </div>
                                <div>

                                    <div>
                                        <p>
                                       
                                            <a href="https://www.amazon.com/HP-X24c-Monitor-Resolution-FreeSync/dp/B08CPQ4ZL6/"  style="font-size:26px">
                                                @Model.Xeberdetal.Title3

                                            </a>
                                        </p>
                                    </div>
                                    <img src="@Model.Xeberdetal.Image3" class="img3" style="height: 330px;width: 330px;">
                                </div>
                                <div>

                                    <div>

                                        <p>
                                           
                                            <a href="https://www.amazon.com/HP-X24c-Monitor-Resolution-FreeSync/dp/B08CPQ4ZL6/"  style="font-size:26px">
                                                @Model.Xeberdetal.Title4

                                            </a>
                                        </p>
                                    </div>
                                    <img src="@Model.Xeberdetal.Image4" class="img1" style="height: 330px;width: 330px;">
                                </div>
                                <div>

                                    <div>
                                        <p>
                                          
                                            <a href="https://www.amazon.com/HP-X24c-Monitor-Resolution-FreeSync/dp/B08CPQ4ZL6/"  style="font-size:26px">
                                                @Model.Xeberdetal.Title5

                                            </a>
                                        </p>
                                    </div>
                                    <img src="@Model.Xeberdetal.Image5" class="img3" style="height: 330px;width: 330px;">
                                </div>


                            </div>
                            <div>



                            </div>


                        </div>

                    </div>
      


            </div>

        </div>
    </section>

 
</body>

</html>


