@model List<Sifaris>;
@{
    ViewData["Title"] = "Index";
    int count = 1;
}

<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="">
            <div class="card-body" style="width:1200px">

                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    İstifadəçi adı
                                </th>
                                <th>
                                    Link
                                </th>
                                <th>
                                    Qiymət
                                </th>
                                <th>
                                    Say
                                </th>
                                <th>
                                    Ölçü
                                </th>
                                <th>
                                    Tarix
                                </th>
                                <th>
                                    Status
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Sifaris appUser in Model)
                            {
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    @appUser.AppUser.UserName
                                </td>
                                <td>
                                    @appUser.Link
                                </td>
                                <td>
                                    @appUser.Qiymet
                                </td>
                                <td>
                                    @appUser.ProductCount
                                </td>
                                <td>
                                    @appUser.OLcu
                                </td>
                                <td>
                                    @appUser.Sendtime
                                </td>

                                @if (@appUser.StatusId == 1)
                                {


                                    <td>
                                        <ul style="text-decoration:none">
                                            <li>  Sifariş təsdiqlənməyib</li>
                                            <li> <a class="btn-success btn" asp-controller="Sifaris" asp-action="Tesdiqle" asp-route-id="@appUser.Id"> Təsdiqlə</a></li>
                                        </ul>


                                    </td>
                                }
                                else
                                {
                                    <td>
                                        Sifarişi təsdiqləmisiniz
                                    </td>

                                }




                            </tr>
                                count++;
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>